:root {
  --primary-text-color: #757575;
  --color-logo: #000000;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --color-btn: #f5f4fa;
  --primary-bg-color: #ffffff;
  --color-hero-text: #ffffff;
  --color-address-link: rgba(255, 255, 255, 0.6);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", "sans-serif";
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

/* Hidden header */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Section */

section {
  padding: 94px 0;
}

.hero-title,
.section-title,
.activity-title,
.team-title,
.filter-title,
.projects-title {
  color: var(--title-text-color);
}

.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: center;
  outline: 2px solid red;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  gap: 50px;
}

.logo-nav {
  margin-right: 93px;
}

.contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

/* Logo */
.logo-header,
.logo-footer {
  color: var(--accent-color);
}

.logo {
  font-family: "Raleway", "sans-serif";
  color: var(--color-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

a.logo.link:hover,
a.logo.link:focus {
  color: var(--accent-color);
}

/* site nav */
.site-nav-item,
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav-item {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Current */
.site-nav .link.current,
.filter .link.current {
  color: var(--accent-color);
}

/* Contacts */
.contacts-link {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
}

.letter-icon,
.phone-icon {
 fill: var(--primary-text-color); 
}

/* hero */
.hero {
  padding: 200px 0;
  text-align: center;
  background-color: #212121;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;

  color: var(--color-hero-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */
.button-primary {
  border-radius: 4px;
  height: 50px;
  min-width: 216px;

  font-family: inherit;
  color: var(--color-btn);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button-secondary {
  display: block;
  padding: 6px 22px;

  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--color-btn);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-color: transparent;
}

.button-primary:hover,
.button-primary:focus {
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--color-btn);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
}

.button-secondary:hover,
.button-secondary:focus {
  font-family: inherit;
  color: var(--color-btn);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
}

/* Features */

.features-list {
  display: flex;
  gap: 30px;
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list .features-title {
  color: var(--title-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Activity */
.activity {
  padding-top: 0;
}

.list-activity {
  display: flex;
  gap: 30px;
}

.list-activity-item {
  width: calc((100% - 60px) / 3);
}

.activity-title,
.team-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Team */
.team {
  background-color: #f5f4fa;
}

.team-card-content {
  padding-bottom: 30px;
  fill: currentColor;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.instagram-icon {
  fill: currentColor;
  background-color: aqua;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list-item {
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-bg-color);
}

.team-list-title {
  margin-top: 30px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
footer {
  padding: 60px 15px;
}
footer .logo {
  margin-bottom: 20px;
}
/* Address */
.address-link {
  margin-bottom: 9px;

  color: var(--color-address-link);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #212121;
}

.place {
  color: var(--color-hero-text);
  background-color: #212121;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* Filter */
.list-filter {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.filter-btn:first-child .button-secondary {
  max-width: 73px;
  padding: 6px 25px;
}

.projects-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Projects */
.projects-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.list-projects {
  display: flex;
  flex-wrap: wrap;
}

.item-projects-group {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
}
.item-projects {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.item-projects:nth-child(3n) {
  margin-right: 0px;
}

.item-projects:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
